body { 
    background-color: hwb(51 15% 9%);
}
button {
    background-image: linear-gradient(#6a700f, #1c2f45);
    background-size: auto 400%;
    background-position: 0 200%;
    transition: background-position 0.9s;
}    
button:hover {
    background-position: 0 0;

    .boton {
        propiedades y valores de estilo
        }
}
.boton {
    border: 1px solid#793f08; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #793f08; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
} 
p {

    font-family: Arial;
    
    